.fuelfilter{
	display: flex;
	flex-direction: column;
}

.fuelheader{
	font-family: var(--font-family-base);
}

.fuelinput{
	font-family: var(--font-family-base);
}

.fuellabel{
	font-family: var(--font-family-base);
}