.home {
    min-height: 100vh;
    background-color: var(--background-color);
}

.content-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.car-content {
    display: grid;
    grid-template-columns: 325px 1fr;
    gap: 30px;
}